<div class="center" id="projects">
<div>
  <div >
    <div class="row d-flex justify-content-center">
      <div class="landing-right text-center align-self-lg-center">
        <div>
          <%= form_for :activity, remote: true, id: "form-create-activity" do |f| %>
            <%= f.select :status, [["Money come","come"],["Money out","out"]], {}, class: "form-control my-3 mx-1" %>
            <%= f.date_field :time, class: "form-control my-3 mx-1", placeholder: "Time" %>
            <%= f.number_field :money, class: "form-control my-3 mx-1", placeholder: "Money" %>
            <%= f.text_field :note, class: "form-control my-3 mx-1", placeholder: "Content Money" %><br/>
            <%= f.submit "Save", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
