<div class="col-8">
	<%= month_calendar start_date_param: :my_date do |date| %>
	<div class="day">
	  <%= date.day %>
  	  <% @activies.each do |f| %>
          <%if date.to_s == f.time&.to_date.to_s %>
            <div style="min-height: 20px">+100</div> 
            <div class="font-money-expence"><%= f.money %></div>
          <%end%>
      <% end %>
  	  <%= link_to "javascript:void())", data: {target: "#Modal_activies", toggle: "modal" } do %>
  	  	<i class="fas fa-pencil-alt day-icon"></i>
  	  <%end%> 
	</div>
	<% end %>

	<!-- <i data-toggle="modal" data-target="#Modal_activies" class="fas fa-pencil-alt day-icon"></i> -->
</div>

<!-- Modal -->
<div class="modal fade" id="Modal_activies" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">家計簿入力</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="expence-form modal-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "activies" %>
