<div class="mt-3">
  <div class="post-card">
    <div class="card">
      <div class="card-header">
        Create Post
      </div>
      <div class="card-body">
        <%= form_for @post, :html => {multipart: true, class: "upload-images p-0 border-0"} do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              <%= user_avatar(current_user, class: 'media-object rounded-circle avatar-blog-page') %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :content, class: "form-control border-0",placeholder: "Say something about this ..." %>
            </div>
          </div>

          <div class="d-none">
            <%= file_field_tag "images[]", type: :file, multiple: true, id: "img-source" %>
          </div>

          <div class="row">
            <div class="col-4 px-3 pb-4" >
              <div class="upload-photos-icon icon-post">
                <i class="fa fa-plus fa-2x" aria-hidden="true" ></i>
              </div>
            </div>
          </div>

          <div class="form-group mt-2 preview-images"></div>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
