<%= link_to new_user_plan_path(current_user.id) do %>
	<button type="button" class="btn btn-success ml-2 mb-3 px-4">New</button>
<%end%>

<div class ="container pb-5">
<table class="table table-bordered">	
  <thead  class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Plan come(VND)</th>
      <th scope="col">Plan out(VND)</th>
      <th scope="col">Reality come(VND)</th>
      <th scope="col">Reality out(VND)</th>
    </tr>
  </thead>
  <tbody>
  	<% @statistics.each do |statistic| %>
	    <tr>
	      <th scope="row"><%= statistic.id %></th>
	      <td><%= statistic.start_date %></td>
	      <td><%= statistic.end_date %></td>
	      <td><%= statistic.plan_money_come %></td>
	      <td><%= statistic.plan_money_out %></td>
        <td><%= statistic.money_come %></td>
        <td><%= statistic.money_out %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
</div>
