<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>ME</b>  Management</a>
    <div class="w3-right w3-hide-small">
      <%if user_signed_in? %>
        <%= link_to "Blog", posts_path, class:"w3-bar-item w3-button"%>
        <%= link_to "Activity", user_activies_path(current_user.id), class:"w3-bar-item w3-button"%>
        <%= link_to "Plan", user_plans_path(current_user.id), class:"w3-bar-item w3-button"%>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"w3-bar-item w3-button"%>
      <%else%>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <%= link_to "Signin", new_user_session_path, class:"w3-bar-item w3-button"%>
        <%= link_to "Signup", new_user_registration_path, class:"w3-bar-item w3-button"%>
      <%end%>
    </div>
  </div>
</header>
